.techspace_signup .membership_form_element {
  padding: 0 0 15px;
}
.techspace_signup label {
  font-weight: bold;
}
.techspace-members .col {
  padding: 10px;
}
.techspace-members .col .profile-wrapper {
  background: #fafafa;
  border: 2px solid #f5f5f5;
  border-color: rgba(220, 220, 220, 0.3);
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
}
.techspace-members .col .profile-wrapper .profile-photo img {
  border-radius: 50%;
}
.techspace-members .col .profile-wrapper h2 {
  margin: 0;
  padding: 0;
}
.techspace-members .col .profile-wrapper .profile-highlight {
  font-weight: bold;
}
